<div id="trail-form">
	<form id="trail_search">
		<label>Search for a Trail!</label>
		<input type="text" id="city" placeholder="city">
		<input type="submit" value="Find My Trail!">
	</form>
</div>

<h1 id="trail-title">List of Trails in Your Area</h1>

<div id="trails">
	<ul id="trail-list">
	</ul>
</div>