<div id="trail-form">
	<form id="trail_search">
		<label>Search for a Trail!</label>
		<input type="text" id="city" placeholder="city">
		<input type="submit" value="Find My Trail!">
	</form>
</div>

<h1 id="trail-title">Trails in Your Area</h1>

<iframe
	id="trails-map"
  width="450"
  height="450"
  frameborder="0" style="border:0"
  src="">
</iframe>

<div id="trails">
	<ul id="trail-list">
	</ul>
</div>