@import "susy";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "breakpoint";

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside
);

$mobile: max-width 30em;
$tablet: 30em 60em;
$full: 60em;

$small: 12;
$medium: 10;
$big: 6;

$medium-margin: 1;
$big-margin: 0;

body {
  font-family: sans-serif;
  @include container(80%);
 }

header {
  #current_user {
   	float: left;
    text-align: center;

    img {
    	border-radius: 50%;
    }

  }
  #title {
	font-family: 'Delius Unicase', cursive;  
	text-align: center;
    clear: both; 
    font-size: xx-large;
  }
 
}

#trail-form {
  text-align: center; 
}

/*map list view
*/

@include breakpoint($mobile) {
	#trails-map {
		@include span($small);
		height: 20em;
	}
}
@include breakpoint($tablet) {
	#trails-map {
		@include span($medium);
		margin-left: span($medium-margin);
		margin-right: span($medium-margin);
	}
}
@include breakpoint($full) {
	#trails-map {
		@include span($big);
		margin-left: span($big-margin);
		margin-right: span($big-margin);
		}
	}

@include breakpoint($full) {
	#trails-map.fixed {
		position: fixed;
		top: 20px;
		width: 40%;
	}
}


#trails {
}

@include breakpoint($mobile) {
	#trails {
	  @include span($small);
  }
}

@include breakpoint($tablet) {
	#trails {
		@include span($medium);
		margin-right: span($medium-margin);
		margin-left: span($medium-margin);
	}
}

@include breakpoint($full) {
	#trails {
		@include span(6 at 6);
		margin-right: span($big-margin);
		margin-left: span($big-margin);
	}
}
@include breakpoint($full) {
	#trails.scroll {
		margin-left: 50%;
		@include span($big);
	}
}

#trail-title {
	text-align: center;
}

#trails-list {
	list-style: none;
	padding: 0;
	text-align: center;
	border: 1px solid black;
	padding: 1em;
}

.submit {
	background-color: transparent;
	text-decoration: none;
	border: none;
	color: black;
	cursor: pointer;
	font-size: large;
	font-weight: bold;
}

/*.trail {
	border: 1px solid black;
	padding: 1em;
}
*/
.trail-name {
	font-size: large;
	font-weight: bold;
	a {
		text-decoration: none;
		color: black;
	}
}

.trail-city {
	display: inline-block;
}

.trail-state {
	display: inline-block;
}

.trail-type {
	border-bottom: 1px solid black;
	padding-bottom: 1em;
	margin-bottom: 1em;
}


footer {
	text-align: center;
/*	background-color: red;
*/	@include span(12);
}

/*map show view
*/

@include breakpoint($mobile) {
	#trail-map {
		@include span($small);
		height: 20em;
	}
}
@include breakpoint($tablet) {
	#trail-map {
		@include span($medium);
		margin-left: span($medium-margin);
		margin-right: span($medium-margin);
	}
}
@include breakpoint($full) {
	#trail-map {
		@include span($big);
		margin-left: span($big-margin);
		margin-right: span($big-margin);
		}
	}

@include breakpoint($full) {
	#trail-map.fixed {
		position: fixed;
		top: 20px;
		width: 40%;
	}
}

#trail {
}

@include breakpoint($mobile) {
	#trail {
	  @include span($small);
  }
}

@include breakpoint($tablet) {
	#trail {
		@include span($medium);
		margin-right: span($medium-margin);
		margin-left: span($medium-margin);
	}
}

@include breakpoint($full) {
	#trail {
		@include span(6 at 6);
		margin-right: span($big-margin);
		margin-left: span($big-margin);
	}
}
@include breakpoint($full) {
	#trail.scroll {
		margin-left: 50%;
		@include span($big);
	}
}

#trail-title {
	text-align: center;
}

#trail-list {
	list-style: none;
	padding: 0;
	text-align: center;
	border: 1px solid black;
	padding: 1em;
}

@include breakpoint($mobile) {
	#pic img {
			max-width: 100%;
	}
}

@include breakpoint($tablet) {
	#pic img {
			max-width: 100%;
	}
}

@include breakpoint($full) {
	#pic img {
			max-width: 100%;
	}
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;

	#upbutton {
		display: inline-block;
		margin-bottom: 1em;
	}
	#downbutton {
		display: inline-block;
		margin-bottom: 1em;
	}
	#votescore {
/*		display: inline-block;
*/	}
}

@include breakpoint($mobile) {
	#votes ul {
		@include span($small);
	}
}

@include breakpoint($full) {
	#votes ul {
		@include span($big);
		width: 50%;
	}
}

@include breakpoint($mobile) {
	#comment-form {
		@include span($small);
	}
	textarea {
		height: 4em;
		@include span($small);
	}
}

@include breakpoint($tablet) {
	#comment-form {
		@include span($medium);
		margin-right: span($medium-margin);
		margin-left: span($medium-margin);
		margin-bottom: 2em;
	}
	textarea {
		@include span($medium);
		height: 10em;
	}
}


@include breakpoint($full) {
	#comment-form {
		@include span($big);
		margin-right: 25%;
		margin-left: 25%;
		margin-bottom: 3em;
		margin-top: 3em;
		text-align: center;
	}
	textarea {
		height: 10em;
		width: 40em;
	}
}

#comment-list {
	text-align: center;
	display: block;
}
/*# sourceMappingURL=application.css.map */
